{% extends "base.html" %}

{% block title %}Home - MailMaster{% endblock %}

{% block content %}
    {% include "mailing/navbar.html" %}
    <p>Управляйте своими клиентами и создавайте персонализированные рассылки с легкостью.</p>

    <div>
        <h3>Статистика:</h3>
        <p>Общее количество рассылок: {{ total_newsletters }}</p>
        <p>Количество активных рассылок: {{ active_newsletters }}</p>
        <p>Количество уникальных получателей: {{ unique_recipients }}</p>
    </div>
{% endblock %}
