{% extends "base.html" %}

{% block content %}
    {% include "mailing/navbar.html" %}
    <h2>Все сообщения</h2>

    <a href="{% url 'mailing:message_add' %}">Добавить новое сообщение</a>
    <ul>
        {% for message in message_list %}
            <li>
                {{ message.subject }} - {{ message.body }}
                {% if request.user == client.owner or request.user.is_superuser %}
                    <a href="{% url 'mailing:message_edit' message.pk %}">Редактировать</a>
                    <a href="{% url 'mailing:message_delete' message.pk %}">Удалить</a>
                {% else %}
                    <p>У вас нет прав для редактирования или удаления этого клиента.</p>
                {% endif %}
            </li>
        {% empty %}
            <li>Нет сообщений.</li>
        {% endfor %}
    </ul>
{% endblock %}
